@import url("course.css");

#header {
	border-top: 2px solid #550000;
	border-bottom: 2px solid #550000;
	}
a {
	color: #550000;
}
#header {
	background: #CCCC99;
	color: #550000;
}
h1 {
	background: #CCCC99;
	color: #550000;
}
div.exercise {
	background: #CCCC99;
}
div.do-this {
	background: #EEEEEE;
}
#construction {
	background: #F3F3ED;
}
#schedule th {
	background: #CCCC99;
}
.separator {
	background: #CCCC99;
}
