{# 
This JinJa2 file handles the head content of csweb forms pages, setting the page title and loading all the scripts
and style files. See ../base.html for a full description. 

@author: kvlinden 
@author: dad32 
@version: Summer, 2014 
#}

<meta http-equiv="X-UA-Compatible" content= "IE=Edge">
<meta charset="utf-8">
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0">

<title>Computer Science - Computing from a Christian perspective - Calvin College</title>

{# College Facebook settings #}
<meta property="og:type" content="website">
<meta property="og:title" content="Computer Science">
<meta property="og:url" content="http://cs.calvin.edu/index.html">
<meta property="og:image" content="https://www.calvin.edu/images/calvin-college-200px.gif">
<meta property="og:site_name" content="Calvin College">

{# College Twitter card #}
<meta name="twitter:card" content="">
<meta name="twitter:site" content="@calvincollege">
<meta name="twitter:creator" content="@calvincollege">
<meta property="twitter:url" content="http://cs.calvin.edu/index.html">
<meta name="twitter:title" content="Computer Science">
<meta name="twitter:image" content="https://www.calvin.edu/images/calvin-college-200px.gif">

{# DNS prefetch for third-parties #}
<link rel="dns-prefetch" href="//www.google-analytics.com/">
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com/">
<link rel="dns-prefetch" href="//www.googletagmanager.com/">
<link rel="dns-prefetch" href="//code.jquery.com/">
<link rel="dns-prefetch" href="//cloud.typography.com/">
<link rel="dns-prefetch" href="//www.rebelmouse.com/">
<link rel="dns-prefetch" href="//s.adroll.com/">
<link rel="dns-prefetch" href="//a.adroll.com/">
<link rel="dns-prefetch" href="//connect.facebook.net/">
<link rel="dns-prefetch" href="//www.googleadservices.com/">
<link rel="dns-prefetch" href="//platform.twitter.com/">

{# Department Settings #}
<meta name="keywords" content="calvin college, computer science, christian, information systems, computational science, digital media">
<meta name="description" content="The Department of Computer Science at Calvin College offers programs in computer science, information systems, digital media, and computational science from a Reformed, Christian worldview.">
<meta content="index,follow" name="robots">
<meta name="ICBM" content="42.926925, -85.589100">
<meta name="geo.position" content="42.926925; -85.589100">
<meta name="geo.region" content="US-MI">
<meta name="geo.placename" content="Grand Rapids, MI">
<meta name="DC.title" content="Calvin College">

{# College Icons #}
<link rel="shortcut icon" href="//www.calvin.edu/favicon.ico">
<link rel="apple-touch-icon" href="//www.calvin.edu/images/icons/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" href="//www.calvin.edu/images/icons/apple-touch-icon-precomposed.png">

{# College CSS #}
<link href="//calvin.edu/global/foundation/stylesheets/app.css?v=20160614" media="screen, print" rel="stylesheet" type="text/css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6279574/782228/css/fonts.css?v=20160531" />
<link rel="stylesheet" href="//www.calvin.edu/global/js/jquery/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen">

{# Department CSS Settings #}
<link href="/static/css/department.css" media="all" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="/static/jQuery-TE_v.1.4.0/jquery-te-1.4.0.css">

{# Department JS tools #}
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src='//www.google.com/jsapi' type='text/javascript'></script>
<script type="text/javascript" src="/static/js/department.js"></script>
<!-- Load our own version so we can turn off auto-compress. See jquery-te header for an explanation. <script type="text/javascript" src="/static/jQuery-TE_v.1.4.0/jquery-te-1.4.0.min.js" charset="utf-8"></script>  -->
<script type="text/javascript" src="/static/jQuery-TE_v.1.4.0/jquery-te-1.4.0-csweb.min.js" charset="utf-8"></script>


